body {
  background-color: darkgreen;
  color: wheat;
}

img {
  height: 90%;
  width: 90%;
}

nav {
  background-color: gold;
  color: black;
}

a {
  color: wheat;
}

header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.click-item {
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  cursor: pointer;
}