body {
   background-image: url("./assets/images/LoZ-background.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

img {
  height: 90%;
  width: 90%;
}

nav {
  background-color: lightgreen;
  color: black;
  margin-bottom: 40px;
}

.click-item {
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  box-shadow: -10px 10px 15px black;
  cursor: pointer;
}

.click-item:hover {
   transform: translate(5px, -5px);
   box-shadow: -15px 15px 20px black;
}

.click-item:active {
   transform: translateY(3px);
   box-shadow: -15px 18px 17px black;
}
